<header class="main-header">
  <div class="header-top">
    <div class="logo">Fuel<span>Price</span></div>
  </div>

  <div class="ticker-wrapper">
    <div class="ticker-content">
      <span>DUBAI CRUDE <strong>$100.86/BBL</strong></span>
      <span>USD/PHP <strong>61.6780</strong></span>
      <span>GAS & DIESEL PRICES UP • 3RD STRAIGHT KERO ROLLBACK</span>
      <span>DUBAI CRUDE <strong>$100.86/BBL</strong></span>
      <span>USD/PHP <strong>61.6780</strong></span>
      <span>GAS & DIESEL PRICES UP • 3RD STRAIGHT KERO ROLLBACK</span>
    </div>
  </div>
</header>